body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    text-align: center;
}

header {
    margin-top: 20px;
}

header h1 {
    font-size: 4em; /* Larger font size */
    font-family: 'Helvetica', sans-serif;
    color: #fff; /* White color */
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* White glow */
    margin: 0;
}

header h1 .redZ {
    color: #ff0000; /* Red color */
    font-size: 2em; /* Slightly larger font size */
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 40px;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-wrapper {
    position: relative;
    width: 800px;
    height: 450px;
    border-radius: 15px; /* Rounded corners */
    overflow: hidden;
    border: 2px solid #fff; /* White border */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Faint white glow */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

select {
    padding: 15px;
    font-size: 18px;
    border: 2px solid #fff; /* White border */
    border-radius: 10px;
    background-color: #444; /* Dark background */
    color: #fff; /* White text */
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Subtle white glow */
    margin-top: 20px;
    transition: all 0.3s ease;
}

select:hover, select:focus {
    border-color: #888; /* Slightly lighter border on hover/focus */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); /* Brighter glow on hover/focus */
}

.perspective-list-wrapper {
    width: 200px;
    border: 2px solid #fff; /* White border */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Faint white glow */
    padding: 20px;
    background-color: #222; /* Dark background */
    text-align: left; /* Align text to the left */
}

.perspective-list-wrapper h2 {
    margin: 0;
    margin-bottom: 10px;
}